<article id="nosotros" class="flex flex-col justify-center items-center px-10 md:px-[9em] md:px-10">
    <span class="divider w-[25%]"/>
    <h1 class="mb-4 text-lg text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl">ACERCA DE NOSOTROS</h1>
    <section class="flex flex-col lg:flex-row text-justify gap-[30px]">
        <div>
            <p>
                <span class="font-bold">ENGEO INGENIERÍA Y GEOCIENCIAS</span>, ha pasado de ser una empresa tradicional de
                ingeniería de suelos y cimentaciones, a una empresa diversificada de servicios de
                consultoría geotécnica especializada, aguas subterráneas, geología, minería,
                geomática, ingeniería estructural, ingeniería hidráulica e ingeniería vial; que
                atiende a clientes en todas las regiones de Colombia y Suramérica.
            </p>
            <p>
                Posee y opera su propia flota de equipos de perforación y exploración, con
                capacidades de muestreo de suelo, roca, concretos y pavimentos, un laboratorio
                equipado para analizar suelos, rocas, concretos, morteros, lechada y asfalto,
                para proyectos y clientes en todo el territorio nacional.
            </p>
        </div>
        <video class="w-full lg:w-[50%]" src="https://engeo.com.co/wp-content/uploads/2021/12/Exploracion-geotecnica.mp4" autoplay muted>
            Tu navegador no admite el elemento <code>video</code>.
        </video>
    </section>
    <section class="flex flex-col gap-[30px] w-full">
        <span class="divider w-full lg:w-[40%]"/>
        <div class="flex flex-col lg:flex-row gap-[30px] text-justify">
            <h1 class="mb-4 text-lg text-center lg:text-left font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl text-pretty">TALENTO PROFESIONAL</h1>
            <p>
                Los integrantes del equipo ENGEO S.A.S, son profesionales con amplia
                experiencia, conocimiento especializado e innovación. Los clientes
                valoran la cultura práctica de resolución de problemas y gestión de
                riesgos profundamente arraigada que da como resultado soluciones
                creativas pero prácticas para el desarrollo de los diferentes proyectos
                de ingeniería.
            </p>
        </div>
    </section>
</article>

<style>
    p {
        line-height: 1.9em;
        letter-spacing: -0.8px;
    }
    #nosotros {
        background-color: white;
    }

    #nosotros .divider {
        border: 1px solid black;
        margin: 2em 0;
        border-radius: 5px;
    }

    #nosotros h1 {
        color: #091B49;
        letter-spacing: 12px;
        text-shadow: 0px 0px 10px #908F95;
    }

</style>