---
import whatsapp from "../assets/social.png";


interface Props {
	page: string;
}

const { page } = Astro.props;

const message = page === "Ingeniería y Geociencias"
  ? "Hola%21%0D%0AMe+gustar%C3%ADa+conocer+m%C3%A1s+acerca+de+los+servicios+de+la+empresa"
  : `Hola%21%0D%0AMe+gustar%C3%ADa+conocer+m%C3%A1s+acerca+del+servicio+de+${page}`;
---

<a
  href={`https://api.whatsapp.com/send/?phone=573133428939&text=${message}&type=phone_number&app_absent=0`}
  target="_blank"
  class="group flex z-[1000] justify-start items-center gap-[15px] h-[70px] w-[70px] hover:w-[250px] fixed bottom-[20px] right-[20px] shadow-xl rounded-full transition-all duration-300 ease-in-out"
  style="background-color: #25d366;"
>
  <figure class="w-[70px] h-[70px] overflow-hidden">
    <img
      class="w-full h-full object-contain"
      src={whatsapp.src}
      alt="boton whatsapp engeo"
    />
  </figure>
  <p class="hidden group-hover:block text-white font-bold">Nuestro Whatsapp</p>
</a>
