---
import { getEntry } from "astro:content";

const homeImages = await getEntry("inicio", "inicio");

if (!homeImages) {
  throw new Error("Could not find blog post 1");
}

const { data } = homeImages;
---

<article id="photo-divider" class="relative w-full h-[296px] overflow-hidden">
  <div class="overlay"></div>
  <picture class="absolute w-full h-full z-[1] container-image">
    <img
      src={data.inicioHeader[1]}
      class="w-full h-full object-cover"
    />
  </picture>
  <section class="absolute flex flex-col justify-center items-center gap-[20px] m-auto w-full h-full z-[3] p-2">
    <h1 class="mb-4 text-lg text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl text-white">
      EL DESCUBRIMIENTO TEMPRANO EVITA INCÓGNITAS COSTOSAS
    </h1>
    <p class="text-white text-justify text-sm md:text-base">
      El análisis experto y los métodos de planificación utilizados por los
      ingenieros especialistas de ENGEO INGENIERÍA Y GEOCIENCIAS, al principio
      del proceso, ayudan a los clientes a administrar los costos y evitar
      gastos excesivos debido a condiciones imprevistas en cada proyecto de
      ingeniería.
    </p>
  </section>
</article>
<style>
  #photo-divider {
    box-sizing: border-box;
  }

  #photo-divider .container-image {
    top: 0;
    left: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.45;
    z-index: 2;
  }

  #photo-divider .principal-info h1 {
    letter-spacing: 12px;
    text-shadow: 0px 0px 10px #908f95;
  }
</style>
