<div class="container-slider">
    <div class="overlay" />
    <div class="container-slider-images">
        <img src="https://engeo.com.co/wp-content/uploads/2021/12/INGENIERIA-GEOTECNICA-4-scaled.jpg" />
    </div>
    <div class="principal-info">
        <h1>ENGEO</h1>
        <h2>INGENIERÍA Y GEOCIENCIAS</h2>
        <button> CONTÁCTENOS</button>
    </div>
</div>

<style>
    .container-slider {
        position: relative;
        width: 100%;
        height: 490px;
        overflow: hidden;
    }

    .container-slider .container-slider-images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .container-slider .container-slider-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #06112F;
        opacity: 0.45;
        z-index: 2;

    }

    .container-slider .principal-info {
        position: absolute; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: auto;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .container-slider .principal-info h1 {
        padding: 0;
        margin: 0;
        color: #FBFBFB;
        font-size: 65px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 12px;
        text-shadow: 0px 0px 10px #908F95;
    }

    .container-slider .principal-info h2 {
        padding: 0;
        margin: 0;
        color: #FBFBFB;
        font-size: 45px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 12px;
        text-shadow: 0px 0px 10px #908F95;
    }

    .principal-info button {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px rgba(27.391304347826054, 42.12901701323246, 196.87499999999997, 0.3);
        fill: #D4CDCDFC;
        color: #D4CDCDFC;
        background-color: #091B49;
        border-style: solid;
        border-color: #091B49;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 0px 10px 0px rgba(5.250000000000009, 5.0559782608695745, 5.0559782608695745, 0.98);
        padding: 15px 45px 15px 45px;
    }
</style>